sitemap.xml
.sass-cache
settings.py
.DS_Store
__pycache__
node_modules
*.pyc
dist
src/static/vendor/font-awesome-4.7.0/less
src/static/vendor/font-awesome-4.7.0/scss
resources/termcloud-cache/*
!resources/termcloud-cache/README.md
resources/wikipedia-cache/*
!resources/wikipedia-cache/README.md