<!doctype HTML>

<html>

<head>
	<title>Mind of the Universe | About</title>
	 {% include 'head.html' %}
</head>

<body>

	{% with page='about' %}
    {% include 'nav.html' %}
    {% endwith %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>About Mind of the Universe</h1>

				<h3>FAQ</h3>
				<p>
					Several questions
				</p>

				<h3>Colofon</h3>
				<p>
					This is the first open source tv project...
				</p>
			</div>
		</div>
	</div>

</body>

{% include 'footer.html' %}

</html>