<!doctype HTML>

<html>

<head>
	<title>Mind of the Universe | About</title>
	 {% include 'head.html' %}
</head>

<body>

	{% with page='about' %}
    {% include 'nav.html' %}
    {% endwith %}

	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="text-center">
					<h3>About Mind of the Universe</h3>
					<br/>
					<img src="/static/images/scientist.gif"
						alt="CC BY-SA 3.0 (https://commons.wikimedia.org/wiki/User:MG)"
						title="CC BY-SA 3.0 (https://commons.wikimedia.org/wiki/User:MG)">
				</div>
			</div>
		</div>
	</div>

</body>

{% include 'footer.html' %}

</html>