
<div class="container project-introduction">

	<div class="container-fluid">

		<div class="row top-buffer">

			<div class="col-md-4">
				The mind of the universe is a journey along and beyond the borders of science. It is the first open source science series ever, and it offers an online learning experience.
			</div>

			<div class="col-md-4">
				<!--Add content here-->
			</div>

			<div class="col-md-4">
				<!--Add content here-->
			</div>

		</div>

		<div class="row top-buffer"></div>

	</div>

</div>

<footer class="footer">

	<div id="footer" class="navbar fixed-bottom navbar-light bg-faded">

		<div class="container-fluid">
			<div class="footer-text">
				Mind of the Universe was made available to you by VPRO and The Netherlands Institute for Sound and Vision
			</div>

			<div class="row">

				<div class="col-md-9">

					<a href="https://www.vprobroadcast.com/">
						<img class="footer-logo"
							 src="/static/images/vpro-blue.png"
							 alt="VPRO"
							 title="VPRO">
					</a>&nbsp;

					<a href="https://www.beeldengeluid.nl/">
						<img class="footer-logo"
							 src="/static/images/nisv.png"
							 alt="Netherlands Institute for Sound & Vision"
							 title="Netherlands Institute for Sound & Vision">
					</a>

					<a href="https://creativecommons.org/licenses/by-sa/4.0/">
						<img class="footer-logo"
							 src="/static/images/cc-sa.png"
							 alt="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)"
							 title="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
					</a>


					<img class="footer-logo"
						 src="/static/images/unesco-patronage-logo.png"
						 alt="Under the patronage of UNESCO"
						 title="Under the patronage of UNESCO">
				</div>

				<div class="col-md-3">

					<button class="footer-share-button btn btn-danger">Share your knowledge</button>

				</div>

			</div>

		</div>

	</div>

</footer>