<div id="footer" class="navbar fixed-bottom navbar-light bg-faded">
	<div class="container">
		Mind of the Universe was made available to you by VPRO and The Netherlands Institute for Sound and Vision
		<br/>
		<a href="http://www.vpro.nl">
			<img src="/static/images/vpro-blue.png"
				 alt="VPRO"
				 title="VPRO">
		</a>&nbsp;
		<a href="https://www.beeldengeluid.nl/">
			<img src="/static/images/nisv.png"
				 alt="Netherlands Institute for Sound & Vision"
				 title="Netherlands Institute for Sound & Vision">
		</a>
&nbsp;	</div>
</div>

<script>



</script>