<meta charset="UTF-8">

<meta name="author" content="The Netherlands Institute for Sound and Vision & VPRO">
<meta name="description" content="Search through interviews of renown scientists from around the world">
<meta name="keywords" content="interviews, scientists, science, open source content">

<meta name="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta name="Pragma" content="no-cache">
<meta name="Expires" content="0">

<meta property="og:title" content="Mind of the Universe">
<meta property="og:type" content="website">
<meta property="og:image" content="http://motu.rdlabs.beeldengeluid.nl/static/og-image.png">
<meta property="og:description" content="Expand your views on the world by listening to renown scientists talk about their amazing research">
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Mind of the Universe" />
<meta name="twitter:description" content="Expand your views on the world by listening to renown scientists talk about their amazing research" />
<meta name="twitter:image" content="http://motu.rdlabs.beeldengeluid.nl/static/og-image.png" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/jpeg" href="/static/images/favicon.png" />
<link rel="icon" type="image/jpeg" href="/static/images/favicon.png" />

<link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css"/>

<link rel="stylesheet" href="/static/css/motu.css">

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<script src="../static/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

<script src="/static/js/motu.js"></script>