<meta charset="UTF-8">

<meta name="author" content="The Netherlands Institute for Sound and Vision & VPRO">
<meta name="description" content="Search through interviews of renown scientists from around the world">
<meta name="keywords" content="interviews, scientists, science, open source content">

<meta property="og:title" content="Mind of the Universe">
<meta property="og:image" content="t.b.d.">
<meta property="og:description" content="Expand your views on the world by listening to renown scientists talk about their amazing research">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/jpeg" href="/static/images/favicon.png" />
<link rel="icon" type="image/jpeg" href="/static/images/favicon.png" />

<link rel="stylesheet" href="/static/css/motu.css">