<!doctype HTML>

<html>

<head>
	<title>Mind of the Universe | Watch {{scientist.name}}</title>
	 {% include 'head.html' %}

	 <script>
		var _scientist = {{ scientist|tojson }};
		var _start = {{start}};
		var _end = {{end}};
	</script>
</head>

<body>

	{% with page='play' %}
    {% include 'nav.html' %}
    {% endwith %}

	<div class="container">

		<!-- FIRST ROW -->
		<div class="row top-buffer">
			<div class="text-center">
				<div class="col-md-12">
					<form class="form-inline" action="/search" method="GET">
						<div class="form-group">
							<label for="st">Search</label>
							<input type="text" class="form-control" style="width:800px;" id="st" name="st" placeholder="Search"/>
						</div>
						<input type="hidden" name="sf" value="{{'name|' + scientist.name}}"/>
						<input type="hidden" name="fr" value="0"/>
						<input type="hidden" name="sz" value="10"/>
					</form>
				</div>
			</div>
		</div>

		<!-- SECOND ROW -->
		<div class="row top-buffer">
			<div class="col-md-12">
				<h3>{{scientist.title}} {{'(' + scientist.date + ')' if scientist.date != None}}</h3>
				<h6>{{scientist.description}}</h6>
			</div>
		</div>

		<!-- THIRD ROW -->
		<div class="row top-buffer">
			<div class="col-md-7">
				<!-- SHOW THE VIDEO PLAYER, WHICH IS RENDERED USING REACT -->
				<div id="video_player"></div>
			</div>
			<div class="col-md-5 segment-nav">
				{% if scientist.annotations.segments | length > 0 %}
					<h3>Segments</h3>
					<ul class="segment-list">
					{% for s in scientist.annotations.segments %}
						<li id="{{loop.index}}" class="segment" onclick="gotoSegment({{loop.index -1}})">
							[{{s.prettyStart}}] {{s.title}} {{'(' + s.keyMoment + ')' if s.keyMoment != None}}
						</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>

		<!-- FOURTH ROW -->
		<div class="row top-buffer">
			<div class="col-md-12">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default share-btn" onclick="togglePanel(this, 'share')">Share</button>
					<button type="button" class="btn btn-default share-btn" onclick="togglePanel(this, 'download')">Download</button>
					<button type="button" class="btn btn-default share-btn" onclick="togglePanel(this, 'license')">License</button>
				</div>
				<br/>
				<br/>
				<div id="panel_share" class="well share-panel">
					<h4>Share</h4>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-reddit" aria-hidden="true"></i>
					<input class="form-control" type="text" value="page URL"/>
					<br/>
					<textarea class="form-control">Some embed code</textarea>
				</div>
				<div id="panel_download" class="well share-panel">
					<h4>Download</h4>
					MP4 (4Mb CBR) <a href="{{scientist.video.url}}">{{scientist.name}}</a>
				</div>
				<div id="panel_license" class="well share-panel">
					<h4>Public domain mark</h4>
					<img src="http://i.creativecommons.org/p/mark/1.0/88x31.png" alt="Creative Commons License">
					You're allowed to copy, change, disseminate and exhibit this work without permission of the authors, even for commercial purposes
				</div>
			</div>
		</div>

		<!-- FIFTH ROW -->
		<div class="row">
			<div class="col-md-12">
				<div id="transcript-controls">
					{% for line in scientist.transcript %}
						<span id="{{line.number}}" class="sub" onclick="gotoLine({{loop.index -1}})">
							[{{line.prettystart}}]&nbsp;{{line.content}}
						</span><br>
					{% endfor %}
				</div>
			</div>
		</div>



	</div>

	{% include 'footer.html' %}

</body>

<script type="text/javascript" src="/static/vendor/jwplayer-7.5.0/jwplayer.js"></script>

<!-- Babel is needed to parse the motu-playout.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>


<!-- The component library -->
<script src="/static/dist/motu-playout.js"></script>
<script src="/static/js/motu-playout.js"></script>

</html>