<!doctype HTML>

<html>

<head>
	<title>Mind of the Universe | Watch {{scientist.name}}</title>
	{% include 'head.html' %}

	<script>

		var _scientist = {{ scientist|tojson }};
        var _start = {{start}};
        var _end = {{end}};

        $( document ).ready(function() {
            $( '.download-link' ).on( 'mousedown', function ( e ) {

            });
        });

	</script>
</head>

<body>

{% with page='play' %}
{% include 'nav.html' %}
{% endwith %}

{% set scientistName = scientist.id.split('__') %}

<ol class="breadcrumb container">

	<li class="breadcrumb-item active">
		<a href="/">Home</a>
	</li>
	<li class="breadcrumb-item active">
		<a href="/scientist?id={{scientistName[0]}}">
			{{scientist.name}}
		</a>
	</li>
	<li class="breadcrumb-item">
		{{scientist.title}}
	</li>

	{% include 'share.html' %}

</ol>

<div class="container">

	<!-- FIRST ROW -->
	<!--<div class="row top-buffer"></div>-->

	<!-- SECOND ROW -->
	<div class="row">
		<div class="col-md-12">
			<h3>{{scientist.title}} {{'(' + scientist.date + ')' if scientist.date != None}}</h3>
			<p>{{scientist.description}}</p>
		</div>
	</div>

	<!-- THIRD ROW -->
	<div class="row">
		<div class="col-md-5">
			<h3>&nbsp;</h3>
			<!-- SHOW THE VIDEO PLAYER, WHICH IS RENDERED USING REACT -->
			<div id="video_player"></div>
		</div>
		<div class="col-md-7">
			<div class="segment-nav">
				{% if scientist.annotations.segments | length > 0 %}
				<h3>Segments</h3>
				<div class="segment-list">
					{% for s in scientist.annotations.segments %}
						<a class="segment-list-item" id="{{loop.index}}" class="segment" onclick="gotoSegment({{loop.index -1}})">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-3">
								{% if s.poster != None %}
									<img class="segment-poster" src="{{s.poster}}" alt="s.name">
								{% endif %}
									</div>
									<div class="col-md-9">
										{{s.title}}<br/>
										<span class="data">({{s.prettyStart}})</span>
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- FOURTH ROW -->
	<div class="row top-buffer">
		<div class="col-md-12">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default share-btn" onclick="togglePanel(this, 'download')">Download</button>
				<button type="button" class="btn btn-default share-btn" onclick="togglePanel(this, 'license')">License</button>
			</div>

			<div id="panel_download" class="well share-panel">
				<h4>Download</h4>
				<p>
					<a class="download-link" href="{{scientist.video.url}}" data-video-id="{{scientist.id}}" data-video-name="{{scientist.name}}">{{scientist.name}} - MP4 (4Mb CBR) </a>
				</p>
			</div>

			<div id="panel_license" class="well share-panel">
				<h4>Public domain mark</h4>
				<img src="http://i.creativecommons.org/p/mark/1.0/88x31.png" alt="Creative Commons License">
				<p>
					You're allowed to copy, change, disseminate and exhibit this work without permission of the authors, even for commercial purposes.
					<br/>
					<a href="https://creativecommons.org/licenses/by-sa/4.0/">More info</a>
				</p>
			</div>
		</div>
	</div>

	<!-- FIFTH ROW -->
	<div class="row">
		<div class="col-md-12 top-buffer">
			<div id="transcript-controls">
				{% for line in scientist.transcript %}
				<span id="{{line.number}}" class="sub" onclick="gotoLine({{loop.index -1}})">
							[{{line.prettystart}}]&nbsp;{{line.content}}
						</span><br>
				{% endfor %}
			</div>
		</div>
	</div>



</div>

{% include 'footer.html' %}

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="exampleModalLongTitle">Download</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="modal-download-info">
					<a class="download-link">
						Download <span id="video-name"></span>
					</a>
					<span class="download-link-info">(Right click and choose "Save Link As...")</span><br/>
					And please fill out the form below to provide us with valuable feedback.
				</div>

				<iframe class="formAssemblyFrame" src="https://www.tfaforms.com/456349" width="100%" height="100%"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

</body>

<script type="text/javascript" src="/static/vendor/jwplayer-7.5.0/jwplayer.js"></script>

<!-- Babel is needed to parse the motu-playout.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>

<script src="/static/js/motu-playout.js"></script>

</html>