<div class="container project-introduction">

    <div class="container-fluid">

        <div class="row top-buffer">

            <div class="col-md-4">

                <img class="tv-icon" src="/static/images/retro_tv.png" height="25px" alt="TV">
                Get inspired and <a target="_blank" href="https://www.youtube.com/channel/UCTbR8Ndlp-dt6llOO-yJ0sg">watch tv episodes</a> of The Mind of the Universe, made by Dutch public broadcaster VPRO
            </div>

            <div class="col-md-4">
                <ul>
                    <li>Browse through over 30 hrs of interviews</li>
                    <li>Download the interviews, including subtitles</li>
                    <li>Remix, re-use en edit under CC-SA license</li>
                    <li>
                        <a href="/explore">Start exploring</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <!--Add content here-->
            </div>

        </div>

        <div class="row top-buffer"></div>

    </div>

</div>