<div class="container project-introduction">

    <div class="container-fluid">

        <div class="row top-buffer">

            <div class="col-md-4">
                <a href="https://www.youtube.com/channel/UCTbR8Ndlp-dt6llOO-yJ0sg">
                    The mind of the universe on YouTube
                    <br/>
                    <img src="/static/images/YouTube-logo-full_color.png" height="25px" alt="YouTube">
                </a>
            </div>

            <div class="col-md-4">
                The mind of the universe is a journey along and beyond the borders of science. It is the first open source science series ever, and it offers an online learning experience.
                <strong>
                    <a href="/explore">Start exploring</a>
                </strong>
            </div>

            <div class="col-md-4">
                <!--Add content here-->
            </div>

        </div>

        <div class="row top-buffer"></div>

    </div>

</div>