<div class="container project-introduction">

    <div class="container-fluid">

        <div class="row top-buffer">

            <div class="col-md-4">
                <a target="_blank" href="https://www.youtube.com/channel/UCTbR8Ndlp-dt6llOO-yJ0sg">
                    <img class="tv-icon" src="/static/images/retro_tv.png" height="25px" alt="TV">
                    Get inspired and watch tv episodes of The Mind of the Universe, made by Dutch public broadcaster VPRO
                </a>
            </div>

            <div class="col-md-4">
                <!--Add content here-->
            </div>

            <div class="col-md-4">
                <!--Add content here-->
            </div>

        </div>

        <div class="row top-buffer"></div>

    </div>

</div>