<!doctype HTML>

<html>

<head>
	<title>Mind of the Universe | Person x</title>
	 {% include 'head.html' %}
</head>

<body>

	{% with page='scientist' %}
    {% include 'nav.html' %}
    {% endwith %}

	<div class="container">

		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Robert Dijkgraaf</h4>
						Robertus Henricus (Robbert) Dijkgraaf (Ridderkerk, 24 januari 1960) is een Nederlands wiskundige, theoretisch natuurkundige en universiteitshoogleraar aan de Universiteit van Amsterdam.
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Marten Scheffer</h4>
						Marten Scheffer (Amsterdam, 13 september 1958) is een Nederlands aquatisch ecoloog en is als hoogleraar Ecologie en Waterkwaliteit verbonden aan de Universiteit van Wageningen.[1]
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Hani Hayajneh</h4>
						Hani Hayajneh is a professor at the faculty of Archaeology and Anthropology at Yarmouk University in Irbid, Jordan. He gained his PhD degree in 1998 from the Faculty of Cultural and Historical Studies at the Free University of Berlin (Germany). He has published a number of research papers, books, articles and reviews on safeguarding cultural heritage and history of the Levant and Arabia.
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Segenet Kelemu</h4>
						Segenet Kelemu is an Ethiopian plant pathologist. She is the Director General of the International Center for Insect Physiology and Ecology in Nairobi. She won the L'Oréal-UNESCO Awards for Women in Science in 2014.
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Brother Guy</h4>
						Brother Guy J. Consolmagno, SJ (born September 19, 1952 in Detroit, Michigan), is an American research astronomer and Director of the Vatican Observatory.
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Lee Cronin</h4>
						Prof Leroy (Lee) Cronin Regius Chair of Chemistry Cronin Laboratory School of Chemistry
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Yoshua Bengio</h4>
						Yoshua Bengio (born 1964) is a French-born Canadian computer scientist, most noted for his work on artificial neural networks and deep learning.
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Juan Maldacena</h4>
						Juan Martín Maldacena (born September 10, 1968) is a theoretical physicist born in Buenos Aires, Argentina. Among his many discoveries, the most famous one is the most reliable realization of the holographic principle – namely the AdS/CFT correspondence,[1] the conjecture about the equivalence of string theory on Anti-de Sitter (AdS) space, and a conformal field theory defined on the boundary of the AdS space.[citation needed] In 2013, Maldacena co-authored an analysis of the 2012 black hole firewall paradox with Leonard Susskind, arguing that the paradox can be resolved if entangled particles are connected by minor wormholes
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Miguel Nicolelis</h4>
						Miguel Ângelo Laporta Nicolelis, M.D., P.hD (Portuguese pronunciation: [miˈɡɛw ˈɐ̃ʒelu lɐˈpɔɾtɐ nikoˈlɛlis], born March 7, 1961), is a Brazilian scientist and physician, best known for his pioneering work in "reading monkey thought". He and his colleagues at Duke University implanted electrode arrays into a monkey's brain that were able to detect the monkey's motor intent and thus able to control reaching and grasping movements performed by a robotic arm.
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Artur Avila</h4>
						Artur Avila Cordeiro de Melo (born 29 June 1979) is a Brazilian and French mathematician working primarily on dynamical systems and spectral theory. He is one of the winners of the 2014 Fields Medal,[2] being the first Latin American to win such award. He is a researcher at both the IMPA and the CNRS (working a half-year in each one).
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Yuri Oganessian</h4>
						Yuri Tsolakovich Oganessian (born 14 April 1933) is a Rostov-on-Don-born Russian nuclear physicist of Armenian descent.He and his team discovered the heaviest elements in the periodic table.
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Pascale Fung</h4>
						professor | department of electronic and computer engineering | hong kong university of science and technology
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Ron Fouchier</h4>
						Ron Fouchier (1966) studeerde microbiologie aan de rijks hogere agrarische school in Wageningen. In 1995 promoveerde hij aan de universiteit van Amsterdam op onderzoek aan HIV/AIDS. Daarna werkte hij nog 4 jaar aan HIV/AIDS in Philadelphia, USA, aan de University of Pennsylvania School of Medicine. Sinds 1998 heeft hij een eigen succesvolle onderzoeksgroep aan het Erasmus MC in Rotterdam, gespecialiseerd in luchtwegvirussen, zoals (vogel-)griep, SARS, en verkoudheidvirussen.
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Jian Wei Pan</h4>
						Pan Jianwei (Chinese: 潘建伟; pinyin: Pān Jiànwěi) is a Chinese quantum physicist. In 1987 he entered University of Science and Technology of China (USTC) and got his bachelor's degree and master's degree there. He received his PhD from Vienna University, Austria, where he worked in the group of Anton Zeilinger
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Erik Demaine</h4>
						Erik D. Demaine (born February 28, 1981) is a professor of Computer Science at the Massachusetts Institute of Technology and a former child prodigy.
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">George Church</h4>
						George McDonald Church (born August 28, 1954) is an American geneticist, molecular engineer, and chemist. As of 2015, he is Robert Winthrop Professor of Genetics at Harvard Medical School and Professor of Health Sciences and Technology at Harvard and MIT, and was a founding member of the Wyss Institute for Biologically Inspired Engineering at Harvard
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Sara Seeger</h4>
						Sara Seager (born July 21, 1971) is a Canadian-American astronomer and planetary scientist. She is a professor at the Massachusetts Institute of Technology and known for her work on extrasolar planets and their atmospheres. She is the author of two textbooks on these topics.[4][5] She has been recognized for this research by Popular Science,[6] Discover Magazine,[7] Nature,[8] and TIME Magazine.[9] Seager was awarded a MacArthur Fellowship in 2013 citing her theoretical work on detecting chemical signatures on exoplanet atmospheres and developing low-cost space observatories to observe planetary transits
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Donald Hoffman</h4>
						Donald Hoffman is a cognitive scientist and author of more than 90 scientific papers and three books, including Visual Intelligence: How We Create What We See (W.W. Norton, 2000). He received his BA from UCLA in Quantitative Psychology and his Ph.D. from MIT in Computational Psychology. He joined the faculty of UC Irvine in 1983, where he is now a full professor in the departments of cognitive science, computer science and philosophy. He received a Distinguished Scientific Award of the American Psychological Association for early career research into visual perception, and the Troland Research Award of the US National Academy of Sciences for his research on the relationship of consciousness and the physical world.
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Trond Helge</h4>
						Trond Helge Torsvik (født 12. oktober 1957) er en norsk professor i geofysikk ved Universitetet i Oslo. Han leder Centre for Earth Evolution and Dynamics - CEED som er et Senter for fremragende forskning (SFF). I 2015 mottok Torsvik utmerkelsen Leopold von Buch-plaketten for fremragende vitenskaplig bidrag til vår forståelse av geodynamikk. Prisen deles ut av German Geological Society. I 2016 mottok han også utmerkelsen The Arthur Holmes Medal &amp; Honorary Membership fra EGU (European Geophysical Union)
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Hans Clevers</h4>
						Johannes Carolus (Hans) Clevers (Eindhoven, 27 maart 1957) is een Nederlands geneticus en arts. Hij is als hoogleraar verbonden aan het Universitair Medisch Centrum Utrecht. Van juni 2012 tot mei 2015 was hij president van de Koninklijke Nederlandse Akademie van Wetenschappen (KNAW). Clevers is groepsleider bij het Hubrecht Instituut en is sinds 2015 wetenschappelijk directeur van het Prinses Máxima Centrum voor kinderoncologie (binnen het Wilhelmina Kinderziekenhuis)
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Michel Poulain</h4>
						Michael Pollan is an American author, journalist, activist, and professor of journalism at the UC Berkeley Graduate School of Journalism
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Nicky Clayton</h4>
						Nicky studies the development and evolution of cognition in members of the crow family (including jackdaws, rooks and jays) and humans. Her work has challenged many of the common-held assumptions that only humans can plan for the future and reminisce about the past, and that only humans can understand other minds as well as other times. This work has led to a radical re-evaluation of animal cognition, and raises important issues about the evolution of cognition
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Charles Spence</h4>
						Prof. Charles Spence is an experimental psychologist at the University of Oxford. He is the head of the Crossmodal Research group which specializes in the research about the integration of information across different sensory modalities He also teaches Experimental Psychology to undergraduates at Somerville College. He is currently a consultant for a number of multinational companies advising on various aspects of multisensory design. He has also conducted research on human-computer interaction issues on the Crew Work Station on the European Space Shuttle, and currently works on problems associated with the design of foods that maximally stimulate the senses, and with the effect of the indoor environment on mood, well-being, and performance
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Jean-Jacques Hublain</h4>
						Jean-Jacques Hublin (born 30 November 1953, in Mostaganem, French Algeria) is a French Paleoanthropologist. Currently, he is a Professor at the Max Planck Society, Leiden University and the University of Leipzig and the founder and director of the Department of Human Evolution at the Max Planck Institute for Evolutionary Anthropology in Leipzig, Germany. He is best known for his work on the Pleistocene hominins, and on the Neandertals and early Homo sapiens, in particular
			  		</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/static/images/scientist.gif" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Carolina Cruz</h4>
						Caroline Cruz University of São Paulo, São Paulo Biomedical Engineering
			  		</div>
				</div>

			</div>

		</div>

	</div>

</body>


</html>