<!doctype HTML>

<html>

<head>
	<title>Mind of the Universe | Person x</title>
	 {% include 'head.html' %}
</head>

<body>

	{% with page='scientist' %}
    {% include 'nav.html' %}
    {% endwith %}

	<div class="container">

		<!-- FIRST ROW -->
		<div class="row top-buffer">
			<div class="text-center">
				<div class="col-md-12">
					<form class="form-inline" action="/search" method="GET">
						<div class="form-group">
							<label for="st">Search</label>
							<input type="text" class="form-control" style="width:800px;" id="st" name="st" placeholder="Search"/>
						</div>
						<input type="hidden" name="sf" value="{{'title_raw|' + scientist.name}}"/>
					</form>
				</div>
			</div>
		</div>

		<!-- SECOND ROW -->
		<div class="row">
			<div class="col-md-12">
				<h1>{{scientist.name}}</h1>
			</div>
		</div>

		<!-- THIRD ROW -->
		<div class="row">
			<div class="col-md-6">
				<div class="scientist-photo">
					<img src="{{scientist.poster}}" alt="{{scientist.name}}">
				</div>
			</div>
			<div class="col-md-offset-1 col-md-5">
				<div class="scientist-bio">
					{{scientist.bio}}
					BIO
				</div>
			</div>
		</div>

		<!-- FOURTH ROW -->
		<div class="row">
			<div class="col-md-6">
				<h3>Featured interviews</h3>
				<div class="video-embed">
					{% for video in scientist.videos %}
						<video width="480" height="320" controls>
							<source src="{{video.url}}" type="video/mp4">
							Your browser does not support the video tag
						</video>
					{% endfor %}
				</div>
			</div>

			<div class="col-md-offset-1 col-md-5">
				<div class="tag-cloud">
					CLOUD
				</div>
			</div>
		</div>

		<!-- FIFTH ROW -->
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-danger">Share your knowledge</button>
			</div>
		</div>

	</div>

</body>

{% include 'footer.html' %}

</html>