<!doctype HTML>

<html>

<head>
	<title>Mind of the Universe | Person x</title>
	{% include 'head.html' %}
</head>

<body>

{% with page='scientist' %}
{% include 'nav.html' %}
{% endwith %}

<ol class="breadcrumb container">
	<li class="breadcrumb-item active">
		<a href="/">Home</a>
	</li>
	<li class="breadcrumb-item">
		{{scientist.name}}
	</li>

	{% include 'share.html' %}

</ol>

<div class="container">

	<!-- FIRST ROW -->
	<div class="row top-buffer"></div>

	<!-- SECOND ROW -->
	<div class="row">
		<div class="col-md-12">
			<h1>{{scientist.name}}</h1>
		</div>
	</div>

	<!-- THIRD ROW -->
	<div class="row">
		<div class="col-md-12">
			<div class="scientist-bio">

				<div class="row">

					<div class="col-md-4">
						<img class="scientist-bio-image" src="{{scientist.poster}}" alt="{{scientist.name}}">
					</div>

					<div class="col-md-8">

						<div class="scientist-bio-text">
							{{scientist.bio}}
						</div>

						{% if scientist.wikiURL %}
						<p>
							<br/>
							<a href="{{scientist.wikiURL}}" target="_{{scientist.name}}">More on {{scientist.name}} at Wikipedia</a>
						</p>
						{% endif %}

						{% if scientist.links | length > 0 %}
							<p>
								{% for link in scientist.links %}
									<i class="fa fa-link"></i>
									<a href="{{link.url}}" target="_new">{{link.label}}</a>
									<br/>
								{% endfor %}
							</p>
						{% endif %}
					</div>


				</div>

			</div>
		</div>

	</div>

	<!-- FOURTH ROW -->
	<div class="row top-buffer">
		<div class="col-md-6 top-buffer">
			<div class="video-embed">
				<h4>Available interviews</h4>
				{% for i in scientist.interviews %}
				<div class="media">
					<div class="media-left">
						<a href="/play?id={{i.id}}">
							<img class="media-object" src="{{i.poster}}" alt="{{i.id}}" style="height:100px;">
						</a>
					</div>
					<div class="media-body">
						<a href="/play?id={{i.id}}">
							<h4 class="media-heading">{{i.title}}</h4>
							{{i.description}}
						</a>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>

		{% if scientist.termCloud %}
		<div class="col-md-offset-1 col-md-5 top-buffer">
			<div class="tag-cloud">
				<h4>This is what {{scientist.name}} talks about:</h4>
				{% for t in scientist.termCloud.terms %}
				<a href="/search?st={{t[0]}}&sf={{'name|' + scientist.name}}">
					<span style="font-size:{{score_to_fontsize(t[1])}}pt;">{{t[0]}}&nbsp;</span>
				</a>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>

</div>

{% include 'footer.html' %}

</body>

</html>