@import url(https://files.vpro.nl/fontface/vpro_vesta/font.css);
@import url(https://files.vpro.nl/fontface/simplistic_sans/font.css);
@import url(https://files.vpro.nl/fontface/iconfont/iconfont.css);

* {
    box-sizing: border-box !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: auto;
    font-family: $default-font;
    line-height: 24px;
    font-size: 15px;
    background-color: $greybat;

    margin-bottom: 130px;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: $greybat;
}

p {
    a {
        text-decoration: underline;
    }
}

.top-buffer {
    margin-top: $defaultMargin * 2;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $title-font;
}

h4 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
}

.data {
    font-family: $data-font;
    font-size: 15px;
}

.container {
    background: #fff;
}

.glyph-play {

    font-family: $vpro-icon-font;
    color: #fff;
    font-size: 32px;
    line-height: 1;
    width: 32px;
    height: 32px;
    position: absolute;
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
    background: #c90;
    right: 0;
    top: 0;
    text-align: center;
    text-indent: 3px;

    &:after {
        content: "q";
    }
}