//@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

@import url(https://files.vpro.nl/fontface/vpro_vesta/font.css);
@import url(https://files.vpro.nl/fontface/simplistic_sans/font.css);

* {
	box-sizing: border-box !important;
}

body {
	margin: auto;
	//background-color: $brightFont;
	//font-family: "Roboto" !important;
	font-family: $default-font;
	line-height: 24px;
	font-size: 15px;
}

/* ------------ On several pages ------------*/

a,
a:hover,
a:visited {
	text-decoration: none;
	color: $nearBlack;
}

p {
	a {
		text-decoration: underline;
	}
}

.top-buffer {
	margin-top: $defaultMargin * 2;
}

.video-embed {

}

.tag-cloud {
	//@include block;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $title-font;
}

h4 {
	font-size: 20px;
	line-height: 20px;
	margin-top: 0;
}

.data {
	font-family: $data-font;
	font-size: 15px;
}

/* ------------ nav.html ------------ */

.navbar-brand {
	img {
		height: 22px;
	}
}



/* ------------ index.html ------------ */

.home-text {
	@include block;
}



/* ------------ scientist.html ------------ */

.scientist {
	img {
		width: 100%;
	}
}

.scientist-photo {
	img {
		height: 200px;
	}
}

.scientist-bio {
	@include block;
}


/* ------------ play.html ------------ */

#transcript-controls {
	height: 300px;
	width: 100%;
	padding: $defaultMargin;
	overflow-y: auto;
	border: 1px solid #ccc;
}

.segment-nav {
	height:240px;
	overflow-y:auto;
}

.sub,
.segment {
	cursor:pointer;
	&:hover {
		color:crimson;
	}
}

.active {
	font-weight:bold;
	color:crimson;
}

.share-panel {
	display:none;
	@include block;
}

.segment-list {
	list-style: none;
	padding:0px;
	li {

	}
}

/* ------------ footer.html ------------ */

#footer {
	color: $brightFont;
	background-color: $nearBlack;
	padding-top: 2 * $defaultMargin;
	padding-bottom: 2 * $defaultMargin;
	margin-top: 2 * $defaultMargin;

	img {
		height: 50px;
		padding: 10px 10px 10px 0;
	}
}
