.home-text {
	strong {
		font-family: $title-font;
		font-size: 24px;
	}
}

.scientist-overview {
	padding-top: 15px;

	.scientist {

		a {
			display: block;

			&:hover {
				background: #fff;
			}
		}

		p {
			font-size: 13px;
			line-height: 20px;
			padding: 4px 8px 8px;
		}
	}
}

.tag-cloud {

	overflow: hidden;

	a {

		margin: 2px;
		background: #ddd;
		padding: 2px 6px;
		white-space: nowrap;
		color: #000;
		display: inline-block;
		text-transform: lowercase;

		&:hover {
			background: #333;
			color: #fff;
		}
		span {

		}
	}
}

.button-explore {
	background: $vproDarkGold;
	border: none;
	font-family: $title-font;
	text-transform: lowercase;
	margin: 18px 0 0 0;

	&:hover {
		background: $vproDarkGold;
	}

	a {
		color: #fff;
		&:hover {
			background: $vproDarkGold;
			color: #fff;
		}
	}
}