.home-text {
	strong {
		font-family: $title-font;
		font-size: 24px;
	}
}

.scientist-overview {
	padding-top: 15px;

	.scientist {

		a {
			display: block;

			&:hover {
				background: #fff;
			}
		}

		p {
			font-size: 13px;
			line-height: 20px;
			padding: 4px 8px 8px;
		}
	}
}

.button-explore {
	background: $vproDarkGold;
	border: none;
	font-family: $title-font;
	text-transform: lowercase;
	margin: 18px 0;

	&:hover {
		background: $vproDarkGold;
	}

	a {
		color: #fff;
		&:hover {
			background: $vproDarkGold;
			color: #fff;
		}
	}
}