#video_player.jwplayer {
    height: inherit;
    padding-bottom: 56.25%;
}

#transcript-controls {
    height: 300px;
    width: 100%;
    padding: $defaultMargin;
    overflow-y: auto;
    border: 1px solid #ccc;

    .data {
        color: $greygrizzly;
        font-size: 12px;
    }

    .line-start-time {
        margin: 0 12px 0 0;
        color: $greyelephant;
        min-width: 60px;
        display: inline-block;
    }
}


.transcript-heading {
    font-size: 12px;
    color: $greyelephant;
    padding: 0 0 4px 10px;
}

.segment-row {
    display: table;
    height: 100%;
}

.segment-col {
    display: table-cell;
    float: none;
    height: 100%;
}

.segment-nav {
    height: 100%;
    overflow: auto;
    float: left;
    border: 1px solid #ccc;
}

.segment-container {
    width: 100%;
}

.segment-list {
    list-style: none;

    .data {
        color: $greygrizzly;
        font-size: 12px;
    }
}

.segment-poster {
    width: 100%;
}

.segment-list-item {
    padding: 4px 0;
    display: block;
    cursor: pointer;

    &:hover {
        background: #aaa;
    }

    .glyph-play {
        margin-right: 15px;
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}

.sub,
.segment {
    cursor:pointer;
    &:hover {
        color:crimson;
    }
}

.active {
    font-weight:bold;
    color:crimson;
}

.share-panel {
    display:none;
}

.modal-body {
    height: 60vh;
    overflow-y: hidden;
    padding: 0;

    #video-name {
        font-style: italic;
    }

    .formAssemblyFrame {
        border: none;
    }
}

.modal-intro {
    font-size: 15px;
    line-height: 24px;
    padding: 20px 15px;
}

.downloads {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .data {
        font-size: 13px;
    }
}

.download-link {
    text-decoration: underline;
}

.download-link-info {
    font-size: 13px;
}

.modal-header {
    .modal-title {
        float: left;
    }
}