#transcript-controls {
    height: 300px;
    width: 100%;
    padding: $defaultMargin;
    overflow-y: auto;
    border: 1px solid #ccc;

    .data {
        color: $greygrizzly;
        font-size: 12px;
    }
}

.segment-nav {
    height: 270px;
    width: 100%;
}

.segment-list {
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;

    .data {
        color: $greygrizzly;
        font-size: 12px;
    }
}

.segment-poster {
    width: 100%;
}

.segment-list-item {
    padding: 4px 0;
    display: block;
    cursor: pointer;

    &:hover {
        background: #aaa;
    }

    .glyph-play {
        margin-right: 15px;
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}

.sub,
.segment {
    cursor:pointer;
    &:hover {
        color:crimson;
    }
}

.active {
    font-weight:bold;
    color:crimson;
}

.share-panel {
    display:none;
}

.segment-list {
    list-style: none;
    li {

    }
}


.modal-body {
    height: 60vh;
    overflow-y: hidden;
    padding: 0;

    #video-name {
        font-style: italic;
    }

    .formAssemblyFrame {
        border: none;
    }
}

.modal-intro {
    font-size: 15px;
    line-height: 24px;
    padding: 20px 15px;
}
.download-link {
    text-decoration: underline;
}

.download-link-info {
    font-size: 13px;
}

.modal-header {
    .modal-title {
        float: left;
    }
}