.scientist {
    img {
        width: 100%;
    }
}

.scientist-photo {
    img {
        height: 200px;
    }
}

.interview {
    padding: 0 0 40px;

    .scientist-image-container {
        .glyph-play {
            width: 40px;
            height: 40px;
            font-size: 40px;
        }
    }
}

.tag-cloud {

    overflow: hidden;

    a {

        margin: 2px;
        padding: 2px 6px;
        white-space: nowrap;
        color: #000;
        display: inline-block;
        text-transform: lowercase;

        &:hover {
            color: #fff;
            background: $vproDarkGold;
        }
        span {

        }
    }
}