.scientist {
    img {
        width: 100%;
    }
}

.scientist-photo {
    img {
        height: 200px;
    }
}

.interview {
    padding: 0 0 40px;
}

.video-embed {
    .media {
        .media-left {
            position: relative;
            .glyph-play {
                right: 11px;
            }
        }
    }
}

.tag-cloud {

    overflow: hidden;

    a {

        margin: 2px;
        padding: 2px 6px;
        white-space: nowrap;
        color: #000;
        display: inline-block;
        text-transform: lowercase;

        &:hover {
            color: #fff;
            background: $vproDarkGold;
        }
        span {

        }
    }
}