/* ======================== Comparative Search / Facet Search (based on searchkit.co) ======================== */

#fragment_search {
	.form-inline {
		button {
			background: $vproDarkGold;
			border: 1px solid $vproDarkGold;
			font-family: $title-font;
			text-transform: lowercase;
			color: #fff;
		}
	}
}

/* search results */

.search-result {
	margin: 0 0 40px 0;
	padding: 10px;
	cursor: pointer;

	&:hover {
		background-color: #e3e3e3;
	}
	.fragment-hit {

		&:hover {
			background-color: #aaa;
		}

	}

	.poster-title {
		padding: 5px 0 0 0;
		font-size: 12px;
		text-transform: uppercase;
	}

	.media-left.media-top {
		position: relative;
	}

	.glyph-play {
		position: absolute;
		right: 10px;
		bottom: 0;
	}

}

.media-fragments {
	.fragment-hit.media {
		margin: 10px;
		padding: 10px;
	}
}

.tags {
	padding: 12px 0 0 0;
	line-height: 16px;
}

.tag {
	display: inline-block;
	padding: 0 12px 0 0;
	font-weight: normal;
	color: $greyelephant;
	font-size: 12px;
	text-transform: uppercase;
}

/* facets on the left side */

.facet-group {
	list-style:none;
	margin: 0;
	padding: 0;
	.facet-item {
		color: $vproDarkGold;
		font-family: $data-font;
		text-transform: lowercase;

		&:last-child {
			padding: 0 0 8px 0;
		}
	}
}

.checkbox-label {
	color: #aaa;
	font-size: 12px;
	font-family: $data-font;
}

.facet-title {
	font-size: 20px;
	text-transform: lowercase;
}

.media-body-intro {
	min-height: 120px;
}

.media-fragment-tags {
	padding: 10px 0 0;
}