/* ======================== Comparative Search / Facet Search (based on searchkit.co) ======================== */

/* search results */

.search-result {
	@include block;
	margin: 0 0 40px 0;
	padding: 10px;
	cursor: pointer;

	&:hover {
		background-color: #e3e3e3;
	}
	.fragment-hit {

		&:hover {
			background-color: #aaa;
		}

	}
}

.media-fragments {
	.fragment-hit.media {
		margin: 10px;
		padding: 10px;
	}
}

.tag {
	font-size: 100% !important;
	display: inline-block !important;
	margin: 0 5px 5px 0;
	font-weight: normal;
	background: $vproDarkGold;
	color: #fff;
}

/* facets on the left side */

.facet-group {
	list-style:none;
	margin: 0;
	padding: 0;
	.facet-item {
		color: $vproBlue;
		&:hover {
			color:#ccc;
		}
	}
}

.facet-item :hover {
	color: $vproBlue;
}

.media-body-intro {
	min-height: 120px;
}

.media-fragment-tags {
	padding: 10px 0 0;
}