/* Default margins */

$defaultMargin: 10px;
$defaultItemMargin: 3px;

/* Colors */

$clBackground: #eee;
$clOrange: #f26c50;
$clLightOrange: #f8cfa6;
$clBlue: royalblue;
$clGrey: #ccc;
$bordergrey: #eee;
$lightmustard: #FFEE88;
$wonderblue: #0279A8;
$warningRed: #FF6E75;