/* Default margins */

$defaultMargin: 10px;
$defaultItemMargin: 3px;


/* Colors */

$vproBlue: #0af;
$vproDarkGold: #c90;
$vproGreyBat: #333;

$nearBlack: $vproGreyBat;
$brightFont: #efefef;

$clOrange: #f26c50;
$clLightOrange: #f8cfa6;
$clBlue: royalblue;
$bordergrey: #eee;
$lightmustard: #FFEE88;
$wonderblue: #0279A8;
$warningRed: #FF6E75;

/* Fonts */

$title-font: 'simplistic_sans', 'SimplisticSans', Arial, Helvetica, Sans, FreeSans, 'Nimbus Sans L', Garuda, sans-serif;
$data-font: 'vpro_vesta_big', Verdana, Arial, Helvetica, Sans, FreeSans, 'Nimbus Sans L', Garuda, sans-serif;
$search-font: 'vpro_vesta_big', Verdana, Arial, Helvetica, Sans, FreeSans, 'Nimbus Sans L', Garuda, sans-serif;
$default-font: 'vpro_vesta', Verdana, Arial, Helvetica, Sans, FreeSans, 'Nimbus Sans L', Garuda, sans-serif;
$vpro-icon-font: vpro-iconfont;