/* Default margins */

$defaultMargin: 10px;
$defaultItemMargin: 3px;

/* Colors */

$nearBlack: #222;
$brightFont: #efefef;

$clOrange: #f26c50;
$clLightOrange: #f8cfa6;
$clBlue: royalblue;
$bordergrey: #eee;
$lightmustard: #FFEE88;
$wonderblue: #0279A8;
$warningRed: #FF6E75;